<article id="<%= post.layout %>-<%= post.slug %>" class="article article-type-<%= post.layout %>" itemscope itemprop="blogPost">
  <div class="article-meta">
    <%- partial('post/date', {class_name: 'article-date', date_format: null}) %>
    <%- partial('post/category') %>
  </div>
  <div class="article-inner">
    <%- partial('post/gallery') %>
      <% if (post.thumbnail) { %>
	      <% var asset_path = url_for(post.path).match(/(.*\/).*\.html/)[1]; %>
	      <img class="article thumbnail-image" src="<%= asset_path %><%= post.thumbnail %>" title="<%= post.title %>" /></br>
      <% } %>
    <% if (post.link || post.title){ %>
      <header class="article-header">
        <%- partial('post/title', {class_name: 'article-title'}) %>
      </header>
    <% } %>
    <div class="article-entry" itemprop="articleBody">
      <% if (post.excerpt && index){ %>
        <%- post.excerpt %>
        <% if (theme.excerpt_link){ %>
          <p class="article-more-link">
            <a href="<%- url_for(post.path) %>#more"><%= theme.excerpt_link %></a>
          </p>
        <% } %>
      <% } else { %>
        <%- post.content %>
        <%/* Downloads related to post */%>
        <% if (typeof post.downloads != 'undefined') { %>
	        <% if (post.downloads.length > 0) { %>
	        	<div class="downloads">
		        	<h2>Downloads</h2>
		        	<p>You can download the source code for the tutorial project and executable/EXE files from the links below:</p>
		        	<ul>
			        <% for (var i = 0; i < post.downloads.length; i++) { %>
        				<% if (typeof post.downloads[i] === 'object' && post.downloads[i] !== null) { %>
				        	<li><a href="<%= post.downloads[i].url %>"><%= post.downloads[i].title %></a></li>
        				<% } else { %>
				        	<li><a href="<%= post.downloads[i] %>">Download Link <%= i+1 %></a></li>
				        <% } %>
			        <% } %>
		        	</ul>
	        	</div>
	        <% } %>
        <% } %>
      <% } %>
    </div>
    <footer class="article-footer">
      <%/* Author related : start */%>
      <% if (author && post.author && !index) { %>
        <div class="author">
          <%= __('Written by') %> <a href="<%- config.root %><%- 'author/' + post.authorId %>"><%= post.author.name %></a>
          <p><%= post.author.about %></p>
        </div>
      <% } %>
      <%/* Author related : end */%>
      <a data-url="<%- post.permalink %>" data-id="<%= post._id %>" class="article-share-link"><%= __('share') %></a>
      <% if (post.comments && config.disqus_shortname){ %>
        <a href="<%- post.permalink %>#disqus_thread" class="article-comment-link"><%= __('comment') %></a>
      <% } %>
      <%- partial('post/tag') %>
    </footer>

    <%/* Related posts : start */%>
    <% if (page.related_posts && page.related_posts.length > 0) { %>
      <section class="related-posts">
        <h2>Related posts</h2>
        <ul>
        <%
        for (const path of page.related_posts) {
          var posts = site.posts.filter(function(post) {
            return post.path === path;
          });
          if (posts && posts.length > 0) {
            posts.each(function(apost) {
            %>
            <a href="<%- url_for(apost.path) %>" title="<%= apost.title %>">
            <li>
            <% if (apost.thumbnail) { %>
              <div class="thumbnail-container">
                <% var asset_path = apost.permalink.match(/(.*\/).*\.html/)[1]; %>
                <img class="thumbnail" src="<%= asset_path %><%= apost.thumbnail %>" alt="<%= apost.title %>" />
              </div>
            <% } %>
            <span><%= apost.title || '(no title)' %></span></li>
            </a>
            <%
            });
          }
        }
        %>
        </ul>
      </section>
    <% } %>
    <%/* Related posts : end */%>

  </div>
  <% if (!index){ %>
    <%- partial('post/nav') %>
  <% } %>
</article>

<% if (!index && post.comments && config.disqus_shortname){ %>
<section id="comments">
  <div id="disqus_thread">
    <noscript>Please enable JavaScript to view the <a href="//disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
  </div>
</section>
<% } %>

<% if (!index && post.comments){ %>
<div id="hashover"></div>
<% } %>
