<footer id="footer">
  <% if (theme.sidebar === 'bottom'){ %>
    <%- partial('_partial/sidebar') %>
  <% } %>
  <div class="outer">
    <div id="footer-info" class="inner">
      <% if (theme.copyright){ %>
        <%- render(theme.copyright, 'pug'); %>
      <% } %>
      &copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %><br>
      <a href="https://gitlab.com/lazplanet/lazplanet.gitlab.io">Fork</a> this blog
    </div>
  </div>
</footer>

<% if (config.hashover_comment_display_style == 1){ %>
	<% if (page.path !== 'index.html'){ %>
	<script type="text/javascript" src="<%= config.hashover_next_location %>/comments.php"></script>
	<% } %>
<% } %>
